#myButton {
    background-color: mediumorchid !important; 
    color: white !important;
    width: 50% !important;
    height: 10vw !important;
    border-color: transparent !important;
    margin: 25% !important;
}

button {
    background-color: mediumorchid;
    color: white;
    border-color: transparent; 
    height: 35px;
}


#miDiv {
  width: 90%;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

#miDiv li {
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 40%;
}


@media screen and (max-width: 767px) {
  #miDiv li {
    margin-right: 10%;
  }
}


#miDiv li p {
  margin: 0;
}

input {
    width: 120px;
    margin-left: 10px;
    margin-top: 10px;
}

textarea {
    width:70%;
    margin-bottom: -12px;
    margin-left: 10px;
}

#myButton {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;

}

#todoscreen {
  position: static;
  width: 100%;
  height: 615px;
  z-index: 0;
  margin: -10px;
  padding: -10px;
}

#chat {
  width: 100%;
  justify-content: center;
  justify-self: center;
  position: fixed;
  bottom: 0;
  right: 0;

}

#partesuperior {
  background-color: rgba(0, 0, 0, 0.26);
  margin-top: -8px;
  margin-left: -10px;
  margin-right: -10px;
  width: 110%;
  height: 60px;
  color: blue;
  text-align: left;
  display: flex;
  align-items: center;
}

#privado, #fotonosotros {
  display: inline-block;
  padding: 0;
  color: white;
  margin-left: 20px;
}

#privado {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
}


#fotonosotros {
  border-radius: 50%;
  width: 50px;
}

#todito {
  background-image: url('flores1.gif');
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; /* Fija el fondo */
}